CREATE USER IF NOT EXISTS 'maxscale'@'%' IDENTIFIED BY 'maxscale_password';
GRANT
  BINLOG ADMIN,
  CONNECTION ADMIN,
  READ_ONLY ADMIN,
  REPLICATION MASTER ADMIN,
  REPLICATION SLAVE ADMIN,
  REPLICATION CLIENT,
  REPLICATION SLAVE,
  SLAVE MONITOR,
  SET USER
ON *.* TO 'maxscale'@'%';
GRANT
  SELECT ON mysql.* TO 'maxscale'@'%';
FLUSH PRIVILEGES;
