STOP SLAVE;
CHANGE MASTER TO master_host="{{ mariadb_cluster_primary_ip_internal }}", master_port=3306, master_user="{{ maxscale_username }}", master_password="{{ maxscale_password }}", master_use_gtid=slave_pos;
START SLAVE;
