[MaxScale]
threads=4
logdir=/var/log/maxscale
pidfile=/var/run/maxscale.pid
user=maxscale

{% set local_ip = hostvars[inventory_hostname]['ip_internal'] %}
{% set ordered_nodes = [local_ip] + db_nodes | reject('equalto', local_ip) | list %}
{% set server_names = [] %}
{% for h in groups['all'] %}
{%   if hostvars[h]['ip_internal'] in ordered_nodes %}
{%     set _ = server_names.append(h) %}
{%   endif %}
{% endfor %}
{% for ip, name in ordered_nodes | zip(server_names) %}
[{{ name }}]
type=server
address={{ ip }}
port=3306
protocol=MySQLBackend

{% endfor %}

[Read-Write Service]
type=service
router=readwritesplit
servers={{ server_names | join(', ') }}
user=maxscale_user
password=supersecret

[Read-Write Listener]
type=listener
service=Read-Write Service
protocol=MySQLClient
port=3306
