[maxscale]
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

{% for node in database_nodes %}
[{{ node.hostname }}]
type=server
address={{ node.internal_ip }}
port=3306

{% endfor %}
[mariadb-monitor]
type=monitor
module=mariadbmon
user=maxscale
password=maxscale_password
monitor_interval=2000ms
backend_connect_timeout=3000ms
backend_connect_attempts=5
servers={{ database_nodes | map(attribute='hostname') | join(',') }}

[read-write-service]
type=service
router=readwritesplit
servers={{ database_nodes | map(attribute='hostname') | join(', ') }}
user=maxscale
password=maxscale_password

[read-write-listener]
type=listener
service=read-write-service
protocol=mariadbprotocol
port=3307
