- name: Generate list of all database nodes in current inventory group, sorted, with current node at start.
  set_fact:
    database_nodes: >-
      {%- set group = (group_names | difference(['all']) | first) -%}
      {%- set host_list = [] -%}
      {%- for hostname in groups[group] -%}
      {%-   set _ = host_list.append({'hostname': hostname, 'internal_ip': hostvars[hostname]['ip_internal']}) -%}
      {%- endfor -%}
      {%- set sorted_list = host_list | sort(attribute='internal_ip') -%}
      {%- set current_host = sorted_list | selectattr('hostname', 'equalto', inventory_hostname) | list -%}
      {%- set other_hosts = sorted_list | rejectattr('hostname', 'equalto', inventory_hostname) | list -%}
      {{ current_host + other_hosts }}
#      {{ [{'hostname': current_host[0]['hostname'], 'internal_ip': 'mariadb'}] + other_hosts }}


- name: Debug database nodes.
  debug:
    var: database_nodes
  when: debug == true

- name: Ensure service directory exists.
  become: true
  file:
    path: "/srv/database"
    state: directory
    mode: '0755'
    owner: "ansible"
    group: "ansible"

- name: Check if docker-compose.yml exists.
  stat:
    path: "/srv/database/docker-compose.yml"
  register: compose_file

- name: Ensure containers are stopped before updating config.
  community.docker.docker_compose_v2:
    project_src: "/srv/database"
    state: absent
  changed_when: false
  check_mode: no
  when: compose_file.stat.exists

- name: Ensure MariaDB directories exist.
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "/srv/database/mariadb"

- name: Ensure MaxScale directories exist.
  become: true
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "997" # maxscale (user)
    group: "995" # maxscale (group
  loop:
    - "/srv/database/maxscale-data"
    - "/srv/database/maxscale-logs"

- name: Upload database Docker Compose file from template.
  template:
    src: ./database/docker-compose.yml.j2
    dest: "/srv/database/docker-compose.yml"
    mode: '0644'

- name: Generate and upload MaxScale config from template.
  template:
    src: ./database/maxscale.cnf.j2
    dest: "/srv/database/maxscale.cnf"
    mode: '0644'

- name: Generate and upload MariaDB config from template.
  template:
    src: ./database/mariadb.cnf.j2
    dest: "/srv/database/mariadb.cnf"
    mode: '0644'

- name: Generate and upload MariaDB initialize queries from template.
  template:
    src: ./database/initialize-database.sql.j2
    dest: "/srv/database/initialize-database.sql"
    mode: '0644'

- name: Pull database Docker images if absent.
  community.docker.docker_compose_v2:
    project_src: "/srv/database"
    pull: missing
    state: absent

- name: Start database Docker Compose stack.
  community.docker.docker_compose_v2:
    project_src: "/srv/database"
    state: present
  changed_when: false
  check_mode: no

- name: Initialize replication on secondary nodes.
  when: mariadb_is_primary == false
  block:

    - name: Check for file initialize-replication.sql - if it is missing, node requires replication initialization commands to be executed.
      stat:
        path: "/srv/database/initialize-replication.sql"
      register: initialize_replication_file

    - name: Generate and upload initialize-replication.sql.
      template:
        src: "./database/initialize-replication.sql.j2"
        dest: "/srv/database/initialize-replication.sql"

    - name: Wait for primary node to come online (10s).
      # note: this should be replaced by something more dynamic in production deployments, e.g. "ping SQL connect to primary, wait 1s, retry"
      ansible.builtin.wait_for:
        timeout: 10
      delegate_to: localhost
      when: initialize_replication_file.stat.exists == false

    - name: Execute initialize-replication.sql in secondary nodes **once**.
      shell: "docker exec -i mariadb mariadb -uroot -p{{ mariadb_root_password }} < /srv/database/initialize-replication.sql"
      when: initialize_replication_file.stat.exists == false

