- name: Ensure service directory exists.
  become: true
  file:
    path: "/srv/wordpress"
    state: directory
    mode: '0755'
    owner: "ansible"
    group: "ansible"

- name: Check if docker-compose.yml exists.
  stat:
    path: "/srv/wordpress/docker-compose.yml"
  register: compose_file

- name: Ensure containers are stopped before updating config.
  community.docker.docker_compose_v2:
    project_src: "/srv/wordpress"
    state: absent
  changed_when: false
  check_mode: no
  when: compose_file.stat.exists

- name: Ensure WordPress directories exist.
  become: true
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "/srv/wordpress/wordpress"

- name: Upload Docker Compose file.
  template:
    src: ./wordpress/docker-compose.yml.j2
    dest: "/srv/wordpress/docker-compose.yml"
    mode: '0644'

- name: Pull WordPress Docker images if absent.
  community.docker.docker_compose_v2:
    project_src: "/srv/wordpress"
    pull: missing
    state: absent

- name: Start WordPress Docker Composer stack.
  community.docker.docker_compose_v2:
    project_src: "/srv/wordpress"
    state: present
  changed_when: false
  check_mode: no

- name: Initialize WordPress.
  when: mariadb_is_primary == true
  block:

    - name: Check for file initialize-wordpress.txt - if it is missing, WordPress requires initialization commands to be executed.
      stat:
        path: "/srv/wordpress/initialize-wordpress.txt"
      register: initialize_wordpress_file

    - name: Generate and upload initialize-wordpress.txt.
      copy:
        src: "./wordpress/initialize-wordpress.txt"
        dest: "/srv/wordpress/initialize-wordpress.txt"

    - name: Wait for WordPress to come online (10s).
      # note: this should be replaced by something more dynamic in production deployments
      ansible.builtin.wait_for:
        timeout: 10
      delegate_to: localhost
      when: initialize_wordpress_file.stat.exists == false

    - name: Dump WordPress envs to a temp file
      shell: docker inspect --format='{{ "{{range .Config.Env}}{{println .}}{{end}}" }}' wordpress | grep '^WORDPRESS' > /tmp/wp_envs
      when: initialize_wordpress_file.stat.exists == false

    - name: Execute initialize WordPress command **once**.
      shell: |
        docker run --rm \
          --network container:wordpress \
          --volumes-from wordpress \
          --env-file /tmp/wp_envs \
          wordpress:cli \
          wp core install \
            --url='{{ wordpress_domain }}' \
            --title='WordPress Example' \
            --admin_user='{{ wordpress_username }}' \
            --admin_password='{{ wordpress_password }}' \
            --admin_email='{{ wordpress_email }}' \
            --skip-email
      when: initialize_wordpress_file.stat.exists == false
