http:
  routers:
    wordpress:
      rule: "Host(`{{ wordpress_domain }}`)"
      entryPoints:
        - websecure
      service: wordpress-service
      tls:
        certResolver: letsencrypt

  services:
    wordpress-service:
      loadBalancer:
        servers:
{% for node in wordpress_nodes %}
          - url: "http://{{ node.ip_internal }}:80" # {{ node.hostname }}
{% endfor %}
        healthCheck:
          path: "/"
          interval: "10s"
          timeout: "3s"
        sticky:
          cookie: {}
