http:
  routers:
    wordpress:
{#      rule: "Host(`wordpress.example.com`) || HostSNI(`192.168.122.66`)"#}
      rule: "HostRegexp(`{host:.+}`)"
      entryPoints:
        - websecure
      service: wordpress-service
#      tls:
#        certResolver: letsencrypt

  services:
    wordpress-service:
      loadBalancer:
        servers:
          - url: "http://192.168.122.108:80"
          - url: "http://192.168.122.100:80"
